.btnCart {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 0.25rem 0.75rem;
  border-radius: 6px;
  color: #fff;
  position: relative;
  left: 200px;
  margin: 0 1rem;
}
.amount {
  color: #000000;
}

.decoCart {
  position: absolute;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  top: -50%;
  left: -20%;
  background-color: rgba(0, 0, 0, 0.38);
  z-index: -1;
}
.decoCartMiddle {
  width: 200px;
  height: 200px;
  top: 80%;
  left: 40%;
}
