.itemBox {
    box-shadow: 0px 0px 20px 5px #000000;
    border-radius: 20px;
    text-align: center;
    height: 350px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000000;
    margin: .5rem;
    margin-top: 5rem;
    padding: .4rem;
    background-color: #fff;
}

.btnItem {
    position: relative;
    left: 0;
    padding: .2rem;
    border-radius: 7px;
}